@{
    ViewBag.Title = "Home Page";
}

<div>
    <h2>Un ejemplo</h2>
    @Html.Action("DynamicHtml")


    @Html.ActionLink("Editar plantilla", "ShowEditForm")

    <div>
        @Html.ActionLink("Resetear plantilla por defecto", "ShowEditForm")
    </div>
</div>

<div>
    <h2>Un otro ejemplo</h2>
    @Html.Action("DynamicHtml2")
   
</div>


@*@Html.RenderAction("ShowEditForm")*@